/********************************************************
BUTTON  
/********************************************************/

.primary-btn{
    background-image: linear-gradient(to right, #FF8C5A , #FF9458, #FFA655);
    color: $white-color;
    &:hover{
       color: $white-color;
       opacity: 0.8;    
    }
}

.luci-btn{
    border: none;
    border-radius: 25px;
    font-size: $font-size-default;
    padding: 12px 30px;
    min-width: 175px;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    &:focus{
        box-shadow: none;
        outline: none;
    }
    &:hover{
        -webkit-transition: all .35s ease;
        transition: all .35s ease;
    }
    &:active{
         box-shadow: none;
        outline: none;
    }
}

.submit-btn{
    height: 62px;
    border-radius: 100px;
    font-size: 16px;
}

.google-btn{
    img{
        margin-right: 5px;
    }
    .luci-btn{
        border: 2px solid #E9F0F4;
        background: #ffffff;
        height: 56px;
        color: #333333;
        font-weight: 600;
        font-size: 14px;
    }
}

/********************************************************
CHECK BOX
/********************************************************/

.custom-control{
    &:hover{
        cursor: pointer;
    }
}

.custom-control-input {
  &:checked ~ .custom-control-label::before {
    border-color: #FF8976;
    background-color: #FF8976;
  }

  &:focus ~ .custom-control-label::before {
    box-shadow: none;
  }
}


/********************************************************
TEXT COLOR
/********************************************************/

.p-text{
    color: $primary-text !important;
}

.s-text{
    color: $secondary-text !important;
}

.link-text{
    color: $link-text !important;
    &:hover{
        opacity: 0.8;
    }
}


/********************************************************
INPUT BOX
/********************************************************/

.form-group{
    margin-bottom: 20px;
    .luci-input{
        width: 100%;
        height: 50px;
        background: #ffffff;
        border: 1px solid #dfdfdf;
        box-sizing: border-box;
        border-radius: 100px;
        padding: 10px 5px 10px 20px;
        min-width: 383px;
        color: $input-text;
    }
    &.password-input{
        position: relative;
        .pwd-eye{
            position: absolute;
            right: 14px;
            transform: translateY(50%);
            margin-top: 7px;
            &:hover{
                cursor: pointer;
                opacity: 0.9;
            }
        }
    }
}

/********************************************************
SELECT
/********************************************************/


.custom-dropdown {
    position: relative;
    width: 100%;
    padding: 10px 40px 10px 20px;
    background: #fff;
    border-radius: 30px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: none;
    cursor: pointer;
    outline: none;
    .dropdown {
        position: absolute;
        top: 40px;
        left: -1px;
        right: 0;
        padding-left: 0;
        width: 100.5%;
        background: white;
        border-radius: 4px;
        border: none;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        font-weight: normal;
        list-style: none;
        opacity: 0;
        pointer-events: none;
        li {
            a {
                display: block;
                padding: 10px;
                text-decoration: none;
                color: #222222;
                border-bottom: none;
                box-shadow: inset 0 1px 0 rgba(255,255,255,1);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                border-left: 4px solid #ffffff;
            }
            i {
                float: right;
                color: inherit;
            }
            &:hover a {
                background: #f6f6f6;
                border-left: 4px solid #FF8C5A;
            }
        }
    }
    &.active .dropdown {
        opacity: 1;
        pointer-events: auto;
        z-index: 9;
    }
    .dropdown-arrow-img {
        position: absolute;
        right: 10px;
        top: 15px;
        transition: all 0.5s ease;
        transform: rotate(180deg)
    }
    &:after {
        clear: both;
        content: "";
        display: table;
    }
}
.no-opacity .custom-dropdown .dropdown, .no-pointerevents .custom-dropdown .dropdown {
    display: none;
    opacity: 1;
    pointer-events: auto;
}
.no-opacity .custom-dropdown.active .dropdown, .no-pointerevents .custom-dropdown.active .dropdown {
    display: block;
}